<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link
      href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Document</title>
  </head>
  <style>
    .title {
      text-align: center;
    }
  </style>
  <body>
    <div class="container">
      <div class="row clearfix">
        <div class="col-md-12 column">
          <div class="jumbotron">
            <h1 class="title">支架管理页面</h1>
          </div>
          <table class="table">
            <thead>
              <tr>
                <th>工作面编号</th>
                <th>测线编号</th>
                <th>时间</th>
                <th>初撑力值</th>
                <th>额定工作阻力</th>
                <th>支护强度</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>1000</td>
                <td>2020-12-31 14：00</td>
                <td>321</td>
                <td>11</td>
                <td>12</td>
              </tr>
              <tr class="success">
                <td>1</td>
                <td>1001</td>
                <td>2021-12-31 14：00</td>
                <td>232</td>
                <td>54</td>
                <td>65</td>
              </tr>
              <tr>
                <td>1</td>
                <td>1002</td>
                <td>2020-10-31 17：00</td>
                <td>21</td>
                <td>18</td>
                <td>92</td>
              </tr>
              <tr class="warning">
                <td>2</td>
                <td>1003</td>
                <td>2020-09-30 21：00</td>
                <td>334</td>
                <td>45</td>
                <td>35</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
