<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>ECharts</title>
    <!-- 引入刚刚下载的 ECharts 文件 -->
    <script src="https://cdn.bootcdn.net/ajax/libs/echarts/5.1.2/echarts.min.js"></script>
  </head>
  <body>
    <!-- 为 ECharts 准备一个定义了宽高的 DOM -->
    <div id="main" style="width:768px;height:600px;"></div>
    <script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('main'));

    // 指定图表的配置项和数据
    var chartDom = document.getElementById('main');
    var myChart = echarts.init(chartDom);
    var option;

    // 配置
    var option = {
    title: {
      text: '支架压力部分'
     },
    tooltip: {

    },
    legend: {
        data: ['zj0', 'zj1']
    },
    xAxis: [
        {
        type: 'category',
        data: {{xaxis|safe}},
        axisPointer: {
            type: 'shadow'
        }
        }
    ],
    yAxis: {},
    series: [
        {
        name: 'zj0',
        type: 'line',
        data: {{zj[0][:5]|safe}}
        },
        {
        name: 'zj1',
        type: 'line',
        data: {{zj1|safe}}
        }
    ]
    };

    option && myChart.setOption(option);

    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);
    //console.log(zj[0])
    </script>
  </body>
</html>
