<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>ECharts</title>
    <!-- 引入刚刚下载的 ECharts 文件 -->
    <script src="https://cdn.bootcdn.net/ajax/libs/echarts/5.1.2/echarts.min.js"></script>
  </head>
  <body>
    <!-- 为 ECharts 准备一个定义了宽高的 DOM -->
    <div id="main" style="width: 786px;height:600px;"></div>
    <script type="text/javascript">
      // 基于准备好的dom，初始化echarts实例
      var myChart = echarts.init(document.getElementById('main'));

      // 指定图表的配置项和数据
     option = {
     title: {
      text: '支架压力部分'
     },
    tooltip: {},
    legend: {
      data: ['10号支架','20号支架']
    },
      xAxis: {
        data: ['0', '1', '2', '3', '4'],
          name:'时间'
      },
      yAxis: {},
      series: [
          {
          name: '10号支架',
          data: [0.353333333, 0.161666667, 0.251666667, 0.115, 0.103333333],
          type: 'line',
          stack: 'x',

          },
        {
          name: '20号支架',
          data: [0.16, 0.155, 0.245, 0.14, 0.166666667, 0.151666667],
          type: 'line',
          stack: 'x',
        }
      ]
    };

      // 使用刚指定的配置项和数据显示图表。
      myChart.setOption(option);
    </script>
  </body>
</html>