<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link
      href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Document</title>
  </head>
  <style>
    .title {
      text-align: center;
    }
  </style>
  <body>
    <div class="container">
      <div class="row clearfix">
        <div class="col-md-12 column">
          <div class="jumbotron">
            <h1 class="title">工作面观测数据</h1>
          </div>
          <table class="table">
            <thead>
              <tr>
                <th>工作面编号</th>
                <th>工作面名称</th>
                <th>支架侧线编号</th>
                <th>微震测量仪器编号</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>A面</td>
                <td>1000</td>
                <td>10000</td>
              </tr>
              <tr class="success">
                <td>1</td>
                <td>A面</td>
                <td>1001</td>
                <td>10001</td>
              </tr>
              <tr>
                <td>1</td>
                <td>A面</td>
                <td>1002</td>
                <td>10002</td>
              </tr>
              <tr class="warning">
                <td>2</td>
                <td>B面</td>
                <td>1003</td>
                <td>10003</td>
              </tr>
              <tr>
                <td>3</td>
                <td>C面</td>
                <td>1004</td>
                <td>10004</td>
              </tr>
              <tr class="success">
                <td>4</td>
                <td>D面</td>
                <td>1005</td>
                <td>10005</td>
              </tr>
              <tr>
                <td>4</td>
                <td>D面</td>
                <td>1006</td>
                <td>10006</td>
              </tr>
              <tr class="warning">
                <td>4</td>
                <td>D面</td>
                <td>1007</td>
                <td>10007</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row clearfix">
        <div class="col-md-4 column">
          <h2>A面</h2>
          <p>1000号测线</p>
          <div>初撑力值：321</div>
          <div>支护强度：12</div>
        </div>
        <div class="col-md-4 column">
          <h2>A面</h2>
          <p>1001号测线</p>
          <div>初撑力值：232</div>
          <div>支护强度：65</div>
        </div>
        <div class="col-md-4 column">
          <h2>A面</h2>
          <p>1002号测线</p>
          <div>初撑力值：21</div>
          <div>支护强度：92</div>
        </div>
      </div>
      </div>
    </div>
  </body>
</html>
